/* add your CSS here */

.animalCard	{
	width: 300px;
	margin: 10px;
	padding: 10px;
	border: 3px solid #f6b278;
	box-shadow: 4px 4px 8px #fab464;
}

.image {
	border-radius: 16px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.animalInfo	{
	padding: 10px;
	margin: 5px;
	border: 2px solid #f6b278;
	background-color: #ffb464;
}

.txtFact {
	font-style: italic;
}

.listItems {
	list-style-type: none;
	padding: 3px;
}

.labels {
	font-weight: bold;
}

.txtBrief {
	padding: 3px;
	text-align: justify;
}
